body {
    /* margin:10; */
    height: 90vh;
}

div {
    padding: 5px;
    /* border: 1px solid black; */
}

.container {
    resize: both;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.sidebar {
    background-color: rgb(2, 175, 255);
    grid-column: 1/2;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    background-color: white;
    grid-row: 1/2;
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.search {
    grid-row: 1/2;
    grid-column: 1/3;
    height: 1.5em;
    display: flex;
    align-self:center;
}


.search-bar {
    width: 100%; /* Make the search bar take full width of its container */
    max-width: 400px; /* Set a maximum width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Make the search bar oval */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.search>* {
    padding: 5px;
}

.user-info {
    display: flex;
    background-color:white;
    grid-row: 1/2;
    grid-column: 3/4;
    height: 2em;
    align-items: center;
}

.user-info>* {
    margin: 5px;
    height: 1.5em;
}

.corgi-png {
    height: 2em;
    width: auto;
}

.greeting {
    background-color: white;
    display: flex;
    grid-row: 2/3;
    grid-column: 1/2;
    align-items: center;
}

.greeting-text {
    padding: 5px;
}

.greeting-text>p {
    margin: 1px;
}

.greeting-text>p:first-child {
    font-size: 0.5em;
}

.button-nav {
    background-color: white;
    grid-row: 2/3;
    grid-column: 2/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-content {
    background-color: hwb(0 84% 16%);
    grid-column: 2/4;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.projects {
    background-color:hwb(0 84% 16%);
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.projects>h1 {
    grid-column: 1/3;
    margin: 0;
    font-size: 1em;
    font-style: bold;
}

.card {
    background-color: hwb(199 67% 18%);
    padding: 10px;
    font-size:smaller;
}

.container .main-content .main-sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    grid-column: 2/3;
    grid-row: 1/3;
}

.title {
    margin-top: 0;
    font-weight: bold;
}



/* .container .main-content .main-sidebar>div {
    background-color: #f7f7f7;
    padding: 5px;
    display: grid;
} */

.announcements {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom:black;
    margin: 10px;
}

.announce {
    border-bottom: 1px solid black;
}

.announce-container{
    display: flex;
    flex-direction: column;
    background-color: hwb(0 84% 16%);
    
}

.trending {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.trending-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    font-size:smaller;
}

.trending-card img{
    height: 4em;
    width: auto;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-right: 5px;
}

.handle {
    display: flex;
    font-size: smaller;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items:end;
    margin:0;
}

.user-name {
    font-size: smaller;
    grid-column: 2/3;
    grid-row: 2/3;
    color: gray;
    align-items: self-start;
    margin: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
    color: white;
    height: 1em;
    margin-top:10px;
}


.nav > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 1em;
    color: white;
    font-size: 1em;
}

.nav > div > * {
    height: 1em;
    padding: 5px;
}

.logo * {
    height: 1em;
    padding: 5px;
}

.icon {
    fill: white;
    height: 1.5em;
}

.announce>p:first-child {
    font-size: smaller;
    font-weight: bold;
}

.announce>p:nth-child(2) {
    font-size: smaller;
}

.nav {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
}

.nav-settings {
    display: flex;
    flex-direction: column;
    grid-row: 3/4;
}


.nav-settings > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 1em;
    color: white;
    font-size: 1em;
}

.nav-settings > div > * {
    height: 1em;
    padding: 5px;
}

button {
    background-color:  rgb(2, 175, 255);
    padding: 5px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 25px;
    color: white;
    font-style: bold;
    text-align: center;
}

.sidebar-title {
    font-size: 1em;
    font-style: bold;
    margin: 0;
}